aside{
    width: 100vw;
    background-color: white;
    min-height: 50vh;
}

#asideBlock01{
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    height: 22rem;
    padding-top: 6rem;
    padding-bottom: 4rem;
    text-align: left;
    align-items: start;
    align-content: start;
    gap: 1.5rem;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
#asideBlock01left{
    display: flex;
    flex-direction: column;
}
#asideBlock01left h1{
    font-size: 3.5rem;
    font-weight: 600;
    align-self: flex-start;
    padding-left: 4rem;
}

#asideBlock01right{
    display: flex;
    flex-direction: row;
    padding-right: 4rem;
    gap:3rem;
    max-width: 30%;
    position: relative;
    height: 3.2rem;
    overflow: hidden;
}
.asideBlock01Iconlist01{
    animation: downAnimation1 2s linear 0.5s infinite alternate ;
    height: 5rem;
    width: 25%;
}
.asideBlock01Iconlist02{
    animation: downAnimation2 2.2s linear 0.2s infinite alternate ;

}
.asideBlock01Iconlist03{
    animation: downAnimation1 2.4s linear 0.7s infinite alternate ;

}
.asideBlock01Iconlist04{
    animation: downAnimation2 2.2s linear 0.5s infinite alternate ;

}
.asideBlock01Iconlist05{
    animation: downAnimation3 4s linear 0.7s infinite alternate ;

}

@keyframes downAnimation1 {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-100px);
    }

}
@keyframes downAnimation2 {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-272px);
    }

}
@keyframes downAnimation3 {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-358px);
    }

}


#asideBlock02{
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    height: 40rem;
    gap: 1.5rem;
    padding-top: 3.8rem;
    padding-bottom: 4rem;

}
.asideBlock02AnchorPageHolder{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2rem;
    align-self: flex-start;
    padding-left: 4rem;
}
#asideBlock02BackgroundBlock{
    width: 1240px;
    height: 524px;
    background: url("images/backgroundAside.avif");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem;
}
#asideBlock02BackgroundBlockQuantant{
    width: 560px;
    height: 432px;
    background-color: white;
    padding: 2rem;
    text-align: start;
}
#asideBlock02BackgroundBlockHeading1{
    font-size: 2.8rem;
    font-weight: 500;
}
#asideBlock02BackgroundBlockHeading2{
    font-size: 2.8rem;
    font-weight: 500;
    color: #009e5c;
}
#asideBlock02BackgroundBlockPara{
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: var(--gray);
}
#asideBlock02BackgroundBlockCompanyList{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
#asideBlock02BackgroundBlockButton{
    border-radius: 6px;
    background-color: var(--primary-color);
    padding: 13.5px 19px 13.5px 19px;
    color: white;
    font-size: 0.9rem;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#asideBlock03{
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    height: 54rem;
    padding-top: 6rem;
    padding-bottom: 4rem;
    text-align: left;
    align-items: start;
    align-content: start;
    gap: 1.5rem;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
#asideBlock03Heading{
    padding-top: 3rem;
    font-size: 2.5rem;
    font-weight: 600;
}
#asideBlock03Section1 h4{
    font-size: 1.1rem;
    color: var(--gray);
    padding-top: 3.8rem;

}
#asideBlock03Section1 p{
    font-size: 1.2rem;
    color: var(--gray);
    padding-bottom: 1rem;
}
#asideBlock03ColumnContainerWrapper{
    width: 100%;
    overflow: hidden;
    position: relative;
}
#asideBlock03ColumnContainer{
    display: flex;
    transition: transform 0.5s ease-in-out;
    flex-direction: row;
    gap: 2rem;
    width: 300%;
}
.asideblock03large{
    width: 848px;
    height: 554px;
    background-color: white;
    padding: 1.5rem;
    box-shadow: 0 2px 4px -2px #1326440f, 0 4px 8px -2px #1326441a;
}
#headingColor h2{
    font-size: 3rem;
    font-weight: 600;
    display: inline;

}
#headingColor h3{
    font-size: 3rem;
    font-weight: 600;
    color: var(--primary-color);
    display: inline;


}
.asideBlock03CardBottom{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 2rem;
    padding-top: 1rem;
}
.asideblock03signUpNowButton{
    border-radius: 6px;
    background-color: #305eff;
    padding: 13.5px 19px 13.5px 19px;
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
}
.asideBlock03knowMore{    
    padding: 13.5px 19px 13.5px 19px;
    font-size: 0.8rem;
    font-weight: 700;
}
.asideBlock03knowMore a{
    color: var(--primary-color);

}

.asideblock03small{
    width: 312px;
    height: 554px;
    background-color: white;
    padding: 1.5rem;    
    box-shadow: 0 2px 4px -2px #1326440f, 0 4px 8px -2px #1326441a;
}
#headingColorSmall h2{
    font-size: 1.5rem;
    font-weight: 600;
    display: inline;
}
#headingColorSmall h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    display: inline;
}
#asideBlock03Section2 p, #asideBlock03Section6 p{
    font-size: 1.2rem;
    color: var(--gray);
    padding-bottom: 1rem;
}
#asideBlock03Section2 h4 ,#asideBlock03Section6 h4{
    font-size: 1.1rem;
    color: var(--gray);
    padding-top: 7.6rem;
    padding-bottom: 1rem;

}
.asideBlock03CardBottomsmall{
    display: flex;
    flex-direction: row;
    align-items: start;
    
}
.asideblock03signUpNowButtonsmall{
    border-radius: 6px;
    background-color: #305eff;
    padding: 13.5px 19px 13.5px 19px;
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
}
.asideBlock03knowMoresmall{    
    padding: 13.5px 19px 13.5px 19px;
    font-size: 0.8rem;
    font-weight: 700;
}
.asideBlock03knowMoresmall a{
    color: var(--primary-color);

}
#asideBlock03Section3 p{
    font-size: 1.2rem;
    color: var(--gray);
    padding-bottom: 1rem;
}
#asideBlock03Section3 h4{
    font-size: 1.1rem;
    color: var(--gray);
    padding-top: 9.5rem;
    padding-bottom: 1rem;

}
#asideBlock03Section4 h4, #asideBlock03Section5 h4{
    font-size: 1.1rem;
    color: var(--gray);
    padding-top: 7rem;

}
#asideBlock03Section4 p, #asideBlock03Section5 p{
    font-size: 1.2rem;
    color: var(--gray);
    padding-bottom: 1rem;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
#asideBlock04{
    background-color: var(--background-color2);
    margin-left: auto;
    margin-right: auto;
    height: 75rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
    text-align: left;
    align-items: start;
    align-content: start;
    display: flex;
    flex-direction:column;
    justify-content: start;
    width: 100%;

}
#asideBlock04Part1{
    width: 100%;
    height: 7rem;
    background-color: var(--background-color3);
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;


}
#asideBlock04Part1Container{
    width: 100%;
    display: flex;
    gap: 4rem;
    animation: move-left 40s linear infinite;
    width: max-content;
}
.asideBlock04Part1Element{
    font-size: 1.3rem;
    font-weight: 600;
}

@keyframes move-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}
#asideBlock04Part2{
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    height: 40rem;
    padding-top: 6rem;
    padding-bottom: 4rem;
    text-align: left;
    align-items: start;
    align-content: start;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    gap: 2rem;
}
#asideBlock04Part2Heading1{
    font-size: 3.9rem;
    font-weight: 600;
    color: white;
}
#asideBlock04Part2Heading1 h2{
    font-size: 3.9rem;
    font-weight: 600;
    color: #009e5c;
}
#asideBlock04Part2Container{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10rem;
    height: 15rem;
}
.asideBlock04Part2ContainerItems{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12rem;
}
.asideBlock04Part2ContainerHeading{
    color: white;
    font-size: 1.2rem;
    font-weight: 700;

}
.asideBlock04Part2ContainerPara{
    color: #7b8f9a;
    font-weight: 400;

}
.asideBlock04Part2ContainerDocs a{
    color: white;
    font-size: 1.05rem;

}
.asideBlock04Part2ContainerDocs a:hover{
    border-width : 0px 0px  1px 0px ;
    border-radius: 2px;
    border-style: solid;
    box-sizing:content-box;
    padding-bottom: 0.1rem;
}
.asideBlock04Icon{
    color: white;
    transform: scale(1.5, 1.5);
}


#asideBlock04Part3{
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    height: 40rem;
    padding-bottom: 4rem;
    text-align: start;
    align-items: start;
    align-content: start;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    gap: 2rem;
}
#asideBlock04Part3Content{
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: start;
    gap: 16.85rem;
}
#asideBlock04Part3Heading{
    text-align: start;
    display: flex;
    flex-direction: column;
}
#asideBlock04Part3Heading h5{
    color: white;
    font-size: 2rem;
    font-weight: 600;
}
#asideBlock04Part3CImageCover{
    border-radius: 1rem;
    width: 782px;
    height: 392px;
    overflow: hidden;
    border-color: rgba(121, 135, 156, 0.09);
    position: relative;
    
}
#asideBlock04Part3Image{
    width: 100%;
    height: 100%;
    background-image: url("images/covercode.png");
    background-size: cover;
    background-position: center;
    transition: filter 0.3s ease-in-out;
    filter: brightness(110%) contrast(100%) saturate(120%);


}
#asideBlock04Part3CImageCover:hover #asideBlock04Part3Image {
    border-radius: 1rem;
    filter: brightness(100%) contrast(100%) saturate(120%);
    background-image: linear-gradient(to top, #032a3e, #032a3e4e), 
    url("images/covercode.png");
}
.asideBlock04Icon03{
    color: white;
    transform: scale(1.5, 1.5);
    text-align: center;
}
.asideBlock04Part3signUpNow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
#asideBlock04Part3CImageCover:hover .asideBlock04Part3signUpNow {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1); /* Slight zoom effect */
}
.asideBlock04Part3signUpNow a button {
    border-radius: 6px;
    background-color: var(--primary-color);
    padding: 13.5px 19px;
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
