footer{
    height: 70rem;
    background-color: white;
}
#footerContainer{
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    height: 22rem;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: start;
    align-content: start;
    justify-content: space-between;
    padding-top: 6rem;
    padding-bottom: 4rem;
    gap: 5rem;
    width: 100%;

}
#footerContainerLeft{
    width: 30%;
    padding-right: 5rem;
}
#footerContainerRight{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footerColumnElemenet a{
    font-size: 0.82rem;
    color: #3c60dd;
    font-weight: 700;
}
.footerColumnElemenet a:hover{
    border-width : 0px 0px  1.2px 0px ;
    border-style: solid;
    box-sizing:content-box;
    padding-bottom: 0.1rem;
    border-color: #3c60dd;

}
.footerColumnHeading{
    font-size: 0.85rem;
    padding-bottom: 0.8rem;
    padding-top: 1rem;
    font-weight: 700;
    color: #41576e;
}
body h3{
    font-size: 0.9rem;
    padding-bottom: 0.8rem;
    padding-top: 1rem;
    font-weight: 500;
    color: #41576e;
}
.footerColumnElemenet{
    padding-bottom: 0.7rem;

}

#footerColumn1Part1 img{
    width: 125px;
    height: 27px;
}
#footerColumn1Part2{
    padding-top: 1rem;

}
#footerColumn1Part2 p{
    font-size: 0.74rem;
    color: #9da8b8;
    line-height: 1.05rem;
}
#footerColumn1Part3 img{
    height: 50px;
    margin: 1rem;
}

#footerColumn2Part1{}
#footerColumn2Part2{}
#footerColumn2Part3{}
#footerColumn2Part4{}



#footerColumn4Part3ImgContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#footerColumn4Part3Img img{
    height: 25px;
}
#footerColumn2 ,#footerColumn3, #footerColumn4{
    width: 180px;
}


